* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: antiquewhite; */
}

/* shared styles */
.default-width {
    width: 75%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.default-bg {
    background-color: #fff8f3;
}

.white-bg {
    background-color: white;
}

.center {
    text-align: center;
}

.font-normal {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.font-orange {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #fd6e0a;
}

.font-dark1 {
    color: #181818;
}

.font-dark2 {
    color: #474747;
}

.font-dark3 {
    color: #757575;
}

.btn-primary {
    background-color: #fd6e0a;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #ff944d;
    color: #fff;
    box-shadow: 0 8px 24px 0 #ff944d, 0 1.5px 4px 0 #00000014;
}

.section-title {
    font-weight: bold;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.section-description {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

/* header */
.header {
    /* padding-left: 30px; */
    background-color: #fff8f3;
    background-image: url(../assets/images/developer.png), url(../assets/images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left, bottom right;
    /* background-size: 200px, 55%; */
}

/* nav open */
nav {
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

.nav-heading {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 60px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.nav-links {
    gap: 40px;
    align-items: center;
    /* justify-content: end; */
}

/* nav close  */

/* banner open */
.banner {
    justify-content: space-between;
    padding: 0 0 0 180px;
    align-items: center;
}

.banner-content {
    align-items: center;
}

.banner-greeting {
    font-weight: 600;
    font-size: 45px;
}

.banner-name {
    font-weight: 800;
    font-size: 85px;
}

.banner-image img {
    width: 600px;
    border-bottom: 5px solid #fd6f0aa0;
}

.contact-btn,
.cv-btn {
    margin: 20px 30px 0 0;
    font-weight: 600;
    font-size: 20px;
}

.banner-bio {
    margin: 20px 0;
    font-weight: 400;
    font-size: 20px;
}

/* banner close */

main section,
footer {
    margin-top: 130px !important;
    /* margin-bottom: 120px; */
}

/* about section open */
.about-section {
    /* margin-top: 130px; */
    padding: 130px 155px;
    border-radius: 18px;
    text-align: center;
}

.about-section .white-bg {
    border-radius: 15px;
    border: 1px solid #feeee3c6;
    padding: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.about-cards {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.about-card h4 {
    font-weight: 300;
    font-size: 18px;
}

.about-card h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

/* about section close */

/* skill section open */
.skills-section {
    padding: 30px 55px 50px 55px;
    border: 2px solid rgba(254, 238, 227, 0.5);
    border-radius: 18px;
    box-shadow: 0 0 30px rgba(254, 238, 227, 0.5) inset;
}

.skill-cards {
    justify-content: space-between;
    margin-top: 50px;
}

.skill-card {
    width: 23%;
    padding: 30px;
    border-radius: 15px;
    /* background-color: #fff8f3; */
    border: 1px solid rgba(254, 238, 227, 0.5);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    text-align: left;

    flex-direction: column;
    justify-content: space-between;
}

.skill-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);   */
}

.skill-card h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.4;
}

/* skill section close */

/* summary section open */
.summary-section {
    text-align: center;
}

.summary-section h3 {
    margin-bottom: 110px;
}

.summary-section button {
    margin-top: 30px;
}

.summary-boxes {
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.resume-type-box {
    width: 48%;
    justify-content: space-between;

}

.resume-type-box hr {
    margin: 30px 10px 30px 0;
}

.resume-type-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume-sec-head {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #181818;
}

.resume-sec-subhead {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #474747;
}

.resume-sec-para {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.4;
}

/* summary section close */

/* footer section open */
footer {
    padding: 130px 0;
    /* border-top: 1px solid rgba(254, 238, 227, 0.5); */
}

.footer-content {
    margin: 0 auto;
    justify-content: space-between;
}

.footer-content section {
    width: 48%;
}

.footer-connect-link a {
    margin-right: 10px;
    color: #757575;
    font-size: 20px;
}

.footer-connect-link a:hover {
    color: #fd6e0a;
}

.footer-connect-link hr {
    margin: 30px 0;
}

.footer-message-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-message-form input,
.footer-message-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #181818;
}

.footer-message-form textarea {
    height: 150px;
}

.footer-message-form button {
    width: 100%;
    padding: 15px;
    color: #fd6e0a;
    background-color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border: 1px solid #fd6e0a;
    border-radius: 5px;
    cursor: pointer;
}

.footer-message-form button:hover {
    background-color: #fd6e0a;
    color: white;
}